extends defaults/layout.pug
include defaults/mixins.pug

block content
    .container
        .background_image

        .card_preview
            .card_preview--number #### #### #### ####
            .card_preview--wrapper
                .card_preview--holder 
                    p Card holder 
                    p.card__holder--holder_value JAN KOWALSKI
                .card_preview--expiration
                    p Expires
                    p.card_preview--expiration-date MM/YY
            .card_preview--cvv
                div CVV: ###

        form.card_form
            label(for="card_form--input_card_number") Card Number
            input.card_form--input_card_number(type="text")

            label(for="card_form--input_card_name") Card Name
            input.card_form--input_card_name(type="text")

            .details_wrapper
                .select_wrapper
                    label(for="card_form--expiration_date") Expiration Date
                    .select_container
                        select#card_form--select_month
                            option(value="" disabled selected) Month
                            each month, index in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                                option(value=(index + 1).toString().length === 2 ? index + 1 : '0' + (index + 1))= month
                        
                        select#card_form--select_year
                            option(value="" disabled selected) Year
                            each year in [2024, 2025, 2026, 2027, 2028, 2029]
                                option(value=year)= year

                .cvv_wrapper
                    label(for="card_form--input_cvv") CVV
                    input.card_form--input_cvv(type="text" maxlength="3")

            button.card_form--submit(type="submit") Submit
